 

/* this is the Style for all Boxes */
.box{
    width:200px;
    height:200px;
    background-color: rgb(119, 243, 82);
}

 /* this is the style for Container */
 .container{
     border:2px solid black;
     width:600px;
     height:600px;
     font-size: 50px;
 }



 /* this is the snippet of Rem and Em */

/*  
 .rem{
     font-size: 1rem;
 }
 .em{
     font-size: 1em;
 } */